.header {
  width: 100%;
  height: 10rem;
  display: inline-block;
  background-color: rgb(34, 34, 34);
  padding:0rem 3.5rem;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 1.3rem;
  background-color: #333;
  width: 100%;
  border-bottom: 0.2rem solid #c71111;
  border-radius: 1rem;
}

.nav li {
  font-size: 1.15rem;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  padding:0.8rem 1.2rem;
  border-radius: 0.3rem;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: black;
  background-color: white;
  transition: all ease-out 1s;
}

.top{
  padding:2.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.media nav ul li{
  color: white;
  display: inline;
  border-radius: 1rem;
  font-size: 0.7rem;
  text-align: center;
  justify-content: space-around;
  align-self: center;
  white-space: nowrap
}


.media div{
  white-space: nowrap
}

.media{
  width: 100%;
  height: 10rem;
  display: inline-block;
  background-color: rgb(34, 34, 34);

}