.detail{
    color: black;
}

.slider{
    margin: auto;
    padding:auto;
    width: 95%;
    justify-items: center;
    color: black;
    margin-bottom: 2rem;
}

.slider img{
    position: relative;
    margin: 0 auto;
    min-width: 60%;
    border-radius: 0.5rem;
}

.price {
    border-radius: 1rem;
    padding: 0.15rem 1.5rem;
    background-color: #3a3a3a;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    margin-bottom: 0.3rem;
  }