.products h2 {
  color: white;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  align-items: center; /* vertical centering if flex-direction: row */
  justify-content: center;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchBar{
  display:flex !important;
  flex-direction: row;
  color:white;
  align-content: center;
  font-size: 1.3rem;
  justify-content: space-between;
  background-color: grey;
  border-bottom: 0.3rem solid;
  border-radius: 0.3rem;
  border-color: black;
  padding:0.5rem 1rem;
  width:60%;
  height: 3.8rem;
  margin: auto;
  padding:auto;
  align-items: center;
}

.searchBar img{
  position: relative;
  width:4.7rem;
  z-index: 1;
  align-self: center;
}

.searchBar h5{
  position: relative;
  width:4.5rem;
  align-self: center;
  color: white;
}

.noresult h5{
  text-align: center !important;
  color: white;
  white-space: nowrap;
  margin: auto !important;
}

.noresult{
  display:flex;
  font-size: 1.3rem;
  justify-content: center;
  background-color: grey;
  border-bottom: 0.3rem solid;
  border-radius: 0.3rem;
  border-color: black;
  width:60%;
  height: 3.8rem;
  margin: auto;
}



.serachinput input:focus, .serachinput input {
      outline: none;
      border-style: none;
      border-bottom:1.3px solid ;
      border-color: white;
      border-radius: 0px;
      width: 100%; 
      height: 3rem;
      font-size: 1.5rem;
      margin:0rem 10rem;
      color:white ;  
      background-color:transparent;
}




.serachinput {
  display: flex;
  justify-content: center;
}


.media{
  display: flex;
  justify-content: center;
}

.media input{
      outline: none;
      border-style: none;
      border-bottom:1.3px solid ;
      border-color: white;
      border-radius: 0px;
      max-width: 100%; 
      height: 3rem;
      font-size: 1.5rem;
      margin:0rem 10rem;
      color:white ;  
      background-color:transparent;
}

.mediaSearchBar{
  display:flex !important;
  flex-direction: row;
  color:white;
  align-content: center;
  font-size: 1.3rem;
  justify-content: space-between;
  background-color: grey;
  border-bottom: 0.3rem solid;
  border-radius: 0.3rem;
  border-color: black;
  padding:0.5rem 1rem;
  width:90%;
  height: 3rem;
  margin: auto;
  padding:auto;
  align-items: center;
}

.mediaSearchBar img{
  position: relative;
  width:3rem;
  z-index: 1;
  align-self: center;
}

.mediaSearchBar h5{
  position: relative;
  width:3rem;
  align-self: center;
  color: white;
  font-size: 0.8rem;
  white-space: nowrap;
}