img{
    position: absolute;
    top:0;
    left:0;
    align-items: center;
    opacity: 80%;
    z-index: -10;
    max-width: 100%;
}

.welcome{
   text-align: center;
   align-self: center;
   color:white;
   margin-top: 10rem;
   line-height: 1.5rem;
}

.welcome h1{
    font-size: 5.5rem;
}
h2{
    font-size: 3rem;
    font-weight: 400;
}

.button{
    color:white;
    background-color: rgb(207, 39, 39);
    padding: 0.3rem  3rem;
    border: 0.2rem solid rgb(207, 39, 39);
    display:inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;

}

h3{
    text-align: center;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}
.section img{
     justify-content: center;
     justify-self: center;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     opacity: 60%;
     z-index: 1;
}

.introduction{
    margin: 10rem 1.3rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height:fit-content
}

.introduction p{
   line-height: 1.7rem;
   margin-left: 1.5rem;
}

.group{
    display: flex;
    color: white;
    margin: 10rem 1.3rem;
    align-items: center;
}

.group img{
    position: relative;
    width: 100%;
    align-self: center;
}

.media{
    color: white;
    text-align: center;
    align-self: center;
    margin-top: 6rem;
}

.media header h2,.meida header h1{
    font-size: 2rem;
    line-height: 1.5rem;
}

.mediaSection{
    margin: 5rem 0.5rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height:fit-content;
}

.mediaSection h2{
    font-size: 1.5rem;
     margin-right: 0.5rem;
}

.mediaGroup img{
    position: relative;
    width: 100%;
    right:0;
}

.mediaGroup{
  display: flex;
  overflow-x: hidden;
  color: white;
}

.media img{
    position: absolute;
    top:14rem;
    left:-3rem;
    align-items: center;
    opacity: 80%;
    z-index: -1;
    max-width: 120%;
}