.item h3 {
  margin: 0.2rem 0;
  font-size: 1.25rem;
}

.card header {
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
.card{
  line-height: 1rem;
}

h5{
   margin: 0;
}
.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.1rem;
  width: fit-content;
  margin-bottom: 0.3rem;
}

.item p {
  position: relative;
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.container{
  position: relative;
  margin: auto;
  padding:auto;
  width: 83%;
  justify-items: center;
}

.container img{
  position: relative;
  margin: 0 auto;
  height: 20rem;
  width: 32rem;
  border-radius: 0.5rem;
}

.slider2 img{
  transform: translate(0%, 0);
  height: 5rem;
  width: 9rem;
  margin: 0 auto;
}

.slider2{
  margin-top:1.5rem;
  justify-content: space-between;
 
}

.card{
    margin: 0.7rem auto;
    border-radius: 6px;
    background-color: white;
    padding: 0.7rem;
    width: 45rem;
}

.media{
  margin: 0;
  border-radius: 6px;
  border-color: white;
  border-bottom:white dotted 0.1rem;
  padding: 0.7rem;
  width: 100%;
  color: white;
}


.slider img{
  position: relative;
  margin: 0 auto;
  height: 15rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow-x: hidden;
}

.media header{
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  justify-content: space-between;
  align-items: baseline;
}

