@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #000000;
  grid-template-rows: auto 1fr auto;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgb(24, 24, 24);
  cursor: pointer;
}


.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 3.4rem !important;
  margin: 0 -5rem;
}

.slick-dots li button:before {
  font-family: 'slick';
  line-height: 20px;
  font-size: 0.5rem !important;
  /* more CSS */
}